html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  font-family: "Paytone One", "Helvetica Neue", sans-serif !important;
}

mat-card-title {
  font-family: "Paytone One", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

.card {
  border: var(--app-border);
  box-shadow: var(--app-shadow) !important;
}
