:root {
  --background-color: #eef0f1;
  --text-color: #08090a;
  --card-color: #08090a;

  --white-color: #fff;
  --primary-color: #3b49df;

  --default-transition: all 0.2s ease-in-out;

  --app-border: 2px solid var(--card-color);
  --app-shadow: 4px 4px 0 var(--card-color);
  --app-hover-shadow: 4px 4px 0 var(--primary-color);
}
