h1 {
  text-align: center;
  font-size: 45px !important;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px !important;
  box-shadow: var(--app-circle-shadow);
}

.layout {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
