<article class="host card">
  <div *ngIf="post">
    <h1>{{ post.title }}</h1>

    <app-entity-info
      *ngIf="author"
      [name]="author.name"
      [subtitle]="author.username"
      [avatar]="author.avatar"
    >
    </app-entity-info>

    <div class="text">
      <p>{{ post.body }}</p>

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
        exercitationem asperiores? Vitae assumenda amet adipisci at, nam quasi
        porro dolores ipsum cumque obcaecati sit. Cumque natus in delectus
        dolores non.
      </p>
      <p>
        Ratione, aperiam. Doloribus ipsa fugit dignissimos debitis sequi facere
        sapiente distinctio repudiandae ex magnam quo necessitatibus soluta
        corrupti delectus veritatis voluptatibus, optio ducimus, blanditiis in
        suscipit ullam placeat molestiae voluptas?
      </p>
      <p>
        Neque, incidunt dolor? Quas impedit sed ipsa exercitationem magnam, ad,
        ex voluptatem eveniet illum, error deleniti. Quis quasi repellendus
        consequatur cumque reiciendis ea debitis saepe, repellat delectus in
        distinctio ipsa.
      </p>
      <p>
        Eveniet libero tenetur officia itaque laudantium sit necessitatibus
        mollitia voluptatem, dignissimos, cumque est. Magnam officia reiciendis
        cum, dignissimos autem assumenda error perspiciatis illum eius sed
        minima, accusantium dolor blanditiis rerum.
      </p>
      <p>
        Facilis praesentium libero sunt inventore sit tempora odit natus quia,
        excepturi magni, dolore iusto atque laborum quae! Libero accusamus
        maiores, tenetur necessitatibus ipsam, modi unde minus dolore commodi,
        iusto facilis.
      </p>
      <p>
        In hic est quaerat necessitatibus, veritatis laboriosam iusto ratione
        quam laudantium, fuga minus sed illum doloremque explicabo vitae
        consequuntur, laborum dolorem quos voluptatibus officiis itaque velit
        aut numquam! In, adipisci!
      </p>
      <p>
        Voluptates nisi omnis quis beatae totam! Natus, illo veritatis assumenda
        pariatur, eum nesciunt error id sit maxime quo porro hic ducimus odio
        unde cupiditate corrupti esse, ea impedit quisquam in.
      </p>
    </div>
  </div>
</article>
